body {
	background-image: url(../images/background.png);
}

.nav-list {
	margin-top: 1.5%;
	margin-left: 15%
}

.main-container {
	margin-top: 15vh;

}

.panel-default {
	padding-left: 0px;
	padding-right: 0px;
}