body {
	background-image: url(../images/background.png);
}

.navbar-container {
	margin-bottom: 0;
}

.nav-list {
	margin-top: 1.5%;
	margin-left: 15%
}

.main-container {
	margin-top: 15vh;

}

.panel-default {
	padding-left: 0px;
	padding-right: 0px;
}

h1, h3 {
	font-family: georgia;
	background-color: #4aaaa5;
	color: #ffffff;
}

h1 {
	color: #ffffff;
	margin-top: 0;
	height: 60px;
	margin-bottom: 0;
	padding-top: 10px;
	text-align: center;
}

h2 {
	color: #4aaaa5;
}

h3 {
	padding-bottom: 1%;
	width: 251px;
	margin-top: 3px;
	padding: 5px;
	text-decoration: none;
}

.panel-default {
	background-color: #ffffff;
}

.r1-c1 {
	background-color: #ffffff;
	padding-top: 10px; 
	height: 400px;
}

.r1-c2 {
	background-color: #ffffff;
	padding-top: 10px; 
	height: 400px;
}

.about-me-row {
	background-color: #ffffff;
	border-bottom:2px solid #bbb;
	height: 60px;
}

.contact-row {
	background-color: #ffffff;
	border-bottom:2px solid #bbb;
	height: 60px;
}

.form-c1 {
	padding-top: 12px;
	background-color: #ffffff;
	padding-bottom: 5px;

}

.portfolio-row {
	background-color: #ffffff;
	border-bottom:2px solid #bbb;
}

.r1-c1-image {
	background-color: #ffffff;
	padding-top: 15px;
	text-decoration: none;
}

.r1-c2-image {
	background-color: #ffffff;
	padding-top: 15px;
}

.header-row {
	background-color: #ffffff;
	width: 682.5px;
}

.footer-index{
	background-color: #666666;
	color: #ffffff;
	text-align: center;
	padding: 40px;
	margin-top: 12%;
}

.footer-contact{
	background-color: #666666;
	color: #ffffff;
	text-align: center;
	padding: 40px;
	margin-top: 11%;
}

.footer-portfolio{
	background-color: #666666;
	color: #ffffff;
	text-align: center;
	padding: 40px;
	margin-top: 12%;
}